.scrolled-to, html {
	scroll-behavior: smooth;
}

.sidebar {
	list-style-type: none;
	position: fixed;
	display: block;
  left: 0;
	margin-top: -78px;	
  top: 30%; 
  transform: translateY(-50%);
	z-index: 5;
	margin: 0 0 8px;
  padding: 0;
}

.link {
	cursor: pointer;
	margin: 0;
	position: relative;
	width: 60px;
	display: list-item;
  text-align: -webkit-match-parent;
}

.dot {
	background-color: red;
	margin-left: 13px;
	opacity: .25;
	width: 3px;
	height: 23px;
	position: relative;
	transition: height .2s ease;
	margin: 5px 0 0 14px;
}

.r {
	background-color: red;
	margin-left: 13px;
	opacity: 1;
	width: 3px;
	height: 23px;
	position: relative;
	transition: height .2s ease;
	margin: 5px 0 0 14px;
}

.link:active .r {
	background-color: red;
	margin-left: 13px;
	opacity: 1;
	width: px;
	height: 23px;
	position: relative;
	transition: height .2s ease;
	margin: 5px 0 0 14px;
}

.label {
	animation: fadeout 2s ease .2s;
	color: red;
	float: left;
	font-size: 10px;
  font-weight: 400;
  left: 0;
  letter-spacing: .02em;
  margin-left: 24px;
  opacity: 0;
  /* pointer-events: none;  */
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: opacity .1s ease;
  width: 300px;
}

.active  {
	animation: fadeout 2s ease .2s;
	color: red;
	float: left;
	font-size: 10px;
  font-weight: 400;
  left: 0;
  letter-spacing: .02em;
  margin-left: 24px;
  opacity: 1;
  /* pointer-events: none;  */
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: opacity .1s ease;
  width: 300px;
}

.label:hover {
	animation: fadeout 2s ease .2s;
	color: red;
	float: left;
	font-size: 10px;
  font-weight: 400;
  left: 0;
  letter-spacing: .02em;
  margin-left: 24px;
  opacity: 1;
  /* pointer-events: none; */
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: opacity .1s ease;
  width: 300px;
}